extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Projects using different technologies



  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/images/${project.id}_0.png`, alt=`${project.project_name} thumbnail`)
            h5= project.project_name




